<div class="u-s-m-b-30">
    <table class="f-cart__table">
        <tbody>

        <tr>
            <td>TAX</td>
            <td id="tax-value">${{ tax }}</td>
        </tr>
        <tr>
            <td>SUBTOTAL</td>
            <td id="subtotal-value">${{ sub_total }}</td>
        </tr>
        <tr>
            <td>GRAND TOTAL</td>
            <td id="grand-value">${{ grand_total }}</td>
        </tr>
        </tbody>
    </table>
    <a class="mini-link btn--e-brand-b-2" href="/">PROCEED TO
                                            CHECKOUT</a>
</div>