<div class="col-lg-6">
    <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
        <div class="dash__pad-3">
            <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
            <div class="dash-l-r u-s-m-b-8">
                <div class="manage-o__text-2 u-c-secondary">Subtotal</div>
                <div class="manage-o__text-2 u-c-secondary">${{ sub_total }}</div>
            </div>
            <div class="dash-l-r u-s-m-b-8">
                <div class="manage-o__text-2 u-c-secondary">Shipping Fee</div>
                <div class="manage-o__text-2 u-c-secondary">${{ shipping_fee }}</div>
            </div>
            <div class="dash-l-r u-s-m-b-8">
                <div class="manage-o__text-2 u-c-secondary">Total</div>
                <div class="manage-o__text-2 u-c-secondary">${{ total }}</div>
            </div>

            <span class="dash__text-2">Paid by Cash on Delivery</span>
        </div>
    </div>
</div>