<div class="u-s-m-b-30">
    <div class="shop-w">
        <div class="shop-w__intro-wrap">
            <h1 class="shop-w__h">BRAND</h1>

            <span class="fas fa-minus shop-w__toggle" data-target="#s-brand"
                  data-toggle="collapse"></span>
        </div>
        <div class="shop-w__wrap collapse show" id="s-brand">
            {% for brand in brand %}
            	<ul class="shop-w__category-list gl-scroll">
                <li>
                    <a href="{% url 'product-brand-list-view' brand=brand.slug %}">{{ brand.title }}</a>

                    <span class="category-list__text u-s-m-l-6">({{ brand.products_count }})</span>
                </li>
            </ul>
            {% endfor %}

        </div>
    </div>
</div>