<div class="u-s-m-b-60">
    <div class="blog-w">

        <span class="blog-w__h">RECENT COMMENTS</span>
        <ul class="blog-w__b-l-2">
            {% for recent_comment in recent_comments %}
            	<li>
                <div class="b-l__block">

                    <span class="b-l__text">{{ recent_comment.user }}</span>

                    <span class="b-l__text">on</span>

                    <span class="b-l__h-2">

                                                        <a href="{% url 'blog-detail' slug=recent_comment.blog.slug %}">{{ recent_comment.text}}</a></span>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>