{% extends 'shared/layout.html' %}
{% block title %}
    dashboard address edit
{% endblock %}
{% block content %}
    <!--====== Main App ======-->
    <div id="app">
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <!--====== Dashboard Features ======-->
                                {% include 'dashboard_module/components/dashboard_sidebar.html' %}
                                <!--====== End - Dashboard Features ======-->
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Edit Address</h1>

                                            <span class="dash__text u-s-m-b-30">We need an address where we could deliver products.</span>
                                            <form method="POST" class="dash-address-manipulation">
                                                {% csrf_token %}

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {{ form.first_name.label_tag }}
                                                        {{ form.first_name }}
                                                    </div>

                                                    <div class="u-s-m-b-30">
                                                        {{ form.last_name.label_tag }}
                                                        {{ form.last_name }}
                                                    </div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {{ form.phone_number.label_tag }}
                                                        {{ form.phone_number }}
                                                    </div>

                                                    <div class="u-s-m-b-30">
                                                        {{ form.street_address.label_tag }}
                                                        {{ form.street_address }}
                                                    </div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {{ form.country.label_tag }}
                                                        {{ form.country }}
                                                    </div>

                                                    <div class="u-s-m-b-30">
                                                        {{ form.state.label_tag }}
                                                        {{ form.state }}
                                                    </div>
                                                </div>

                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">
                                                        {{ form.city.label_tag }}
                                                        {{ form.city }}
                                                    </div>

                                                    <div class="u-s-m-b-30">
                                                        {{ form.zip_code.label_tag }}
                                                        {{ form.zip_code }}
                                                    </div>
                                                </div>

                                                <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
    </div>
    <!--====== End - Main App ======-->

{% endblock %}