{% load thumbnail %}
<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="product-m">
        <div class="product-m__thumb">

            <a class="aspect aspect--bg-grey aspect--square u-d-block"
               href="{% url 'product-detail-view' slug=product.slug %}">

                {% thumbnail product.image "600x600" as im %}
                    <img class="aspect__img" src="{{ im.url }}"
                         width="{{ im.width }}"
                         height="{{ im.height }}">
                {% endthumbnail %}
                <div class="product-m__quick-look">

                    <a class="fas fa-search" data-modal="modal"
                       data-modal-id="#quick-look" data-tooltip="tooltip"
                       data-placement="top" title="Quick Look"></a></div>
                <div class="product-m__add-cart">

                    <a class="btn--e-brand" data-modal="modal"
                       data-modal-id="#add-to-cart">Add to Cart</a></div>
            </a>
        </div>
        <div class="product-m__content">
            <div class="product-m__category">

                <a href="shop-side-version-2.html">{{ product.category.title }}</a>
            </div>
            <div class="product-m__name">

                <a href="{% url 'product-detail-view' slug=product.slug %}">{{ product.title }}</a>
            </div>
            <div class="product-m__rating gl-rating-style">
                {% for star in product.rating_ranges.0 %}
                    <i
                            class="fas fa-star"></i>
                {% endfor %}
                {% for review in product.rating_ranges.1 %}
                    <i class="far fa-star"></i>
                {% endfor %}
                <span class="product-m__review"></span></div>
            <div class="product-m__price">${{ product.price }}</div>
            <div class="product-m__hover">
                <div class="product-m__preview-description">

                    <span>{{ product.short_description }}</span>
                </div>
                <div class="product-m__wishlist">


                    {% if user.is_authenticated %}
                        <a class="far fa-heart" href="{% url 'add_to_wishlist' product_id=product.id %}"
                           data-tooltip="tooltip"
                           data-placement="top" title="Add to Wishlist"></a>
                    {% else %}
                        <a class="far fa-heart" href="{% url 'login_view' %}?next={{ request.path }}"
                           data-tooltip="tooltip"
                           data-placement="top" title="Add to Wishlist"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>