{% extends 'shared/layout.html' %}
{% load poll_extras %}
{% load render_partial %}
{% block title %}
    blog list
{% endblock %}
{% block content %}

    <!--====== Main App ======-->
    <div id="app">
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-sm-12">
                            {% for blog in blogs %}
                                {% include 'blog_module/includes/blog_item_list.html' %}
                            {% endfor %}
                            <nav class="post-center-wrap u-s-p-y-60">

                                <!--====== Pagination ======-->
                                {% if is_paginated %}
                                    <ul class="blog-pg">
                                        {% if page_obj.has_previous %}
                                            <li>
                                                <a class="fas fa-angle-left"
                                                   href="?{% query_transform request page=page_obj.previous_page_number %}"></a>
                                            </li>
                                        {% endif %}
                                        {% for page in paginator.page_range %}
                                            <li class="blog-pg{% if page_obj.number == page %}--active{% endif %}">

                                                <a href="?{% query_transform request page=page %}">{{ page }}</a></li>

                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li>
                                                <a class="fas fa-angle-right"
                                                   href="?{% query_transform request page=page_obj.next_page_number %}"></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                <!--====== End - Pagination ======-->
                            </nav>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="blog-w-master">
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h">SEARCH</span>
                                        <form class="blog-search-form">

                                            <label for="post-search"></label>

                                            <input class="input-text input-text--primary-style" type="text"
                                                   id="post-search" placeholder="Search">

                                            <button class="btn btn--icon fas fa-search" type="submit"></button>
                                        </form>
                                    </div>
                                </div>
                                {% render_partial "blog_module.views.blog_categories_component" %}
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h">ARCHIVES</span>
                                        <ul class="blog-w__list">
                                            <li>

                                                <a href="blog-right-sidebar.html">March 2017 (1)</a></li>
                                            <li>

                                                <a href="blog-right-sidebar.html">December 2017 (3)</a></li>
                                            <li>

                                                <a href="blog-right-sidebar.html">November 2017 (4)</a></li>
                                            <li>

                                                <a href="blog-right-sidebar.html">September 2017 (1)</a></li>
                                            <li>

                                                <a href="blog-right-sidebar.html">August 2014 (1)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h">RECENT POSTS</span>
                                        <ul class="blog-w__b-l">
                                            <li>
                                                <div class="b-l__block">
                                                    <div class="b-l__date">

                                                        <span>25</span>

                                                        <span>July</span>

                                                        <span>2018</span></div>

                                                    <span class="b-l__h">

                                                        <a href="blog-detail.html">Life is an extraordinary Adventure</a></span>

                                                    <span class="b-l__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="b-l__block">
                                                    <div class="b-l__date">

                                                        <span>25</span>

                                                        <span>July</span>

                                                        <span>2018</span></div>

                                                    <span class="b-l__h">

                                                        <a href="blog-detail.html">Everyone can draw but need passion for it</a></span>

                                                    <span class="b-l__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="b-l__block">
                                                    <div class="b-l__date">

                                                        <span>25</span>

                                                        <span>July</span>

                                                        <span>2018</span></div>

                                                    <span class="b-l__h">

                                                        <a href="blog-detail.html">Rap is not an art</a></span>

                                                    <span class="b-l__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h">RECENT COMMENTS</span>
                                        <ul class="blog-w__b-l-2">
                                            <li>
                                                <div class="b-l__block">

                                                    <span class="b-l__text">admin</span>

                                                    <span class="b-l__text">on</span>

                                                    <span class="b-l__h-2">

                                                        <a href="blog-detail.html">Life is all about opportunity</a></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="b-l__block">

                                                    <span class="b-l__text">admin</span>

                                                    <span class="b-l__text">on</span>

                                                    <span class="b-l__h-2">

                                                        <a href="blog-detail.html">Be More Confident in 30 Seconds</a></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="b-l__block">

                                                    <span class="b-l__text">admin</span>

                                                    <span class="b-l__text">on</span>

                                                    <span class="b-l__h-2">

                                                        <a href="blog-detail.html">Bury A Body With Me</a></span></div>
                                            </li>
                                            <li>
                                                <div class="b-l__block">

                                                    <span class="b-l__text">admin</span>

                                                    <span class="b-l__text">on</span>

                                                    <span class="b-l__h-2">

                                                        <a href="blog-detail.html">Everything Must Die</a></span></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="blog-w">

                                        <span class="blog-w__h">TAGS</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2"
                                               href="blog-right-sidebar.html">Dresses</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2"
                                               href="blog-right-sidebar.html">Shirts & Tops</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2"
                                               href="blog-right-sidebar.html">Polo Shirts</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2"
                                               href="blog-right-sidebar.html">Sweaters</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2"
                                               href="blog-right-sidebar.html">Blazers</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2"
                                               href="blog-right-sidebar.html">Vests</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2"
                                               href="blog-right-sidebar.html">Jackets</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->
    </div>
    <!--====== End - Main App ======-->
{% endblock %}

