{% if messages %}
            <div class="u-s-m-b-20">
                {% for message in messages %}
                    <div class="gl-alert gl-alert--{{ message.tags }} u-s-m-b-10">
                        <div class="gl-alert__icon">
                            {% if message.tags == 'success' %}
                                <i class="fas fa-check-circle"></i>
                            {% elif message.tags == 'error' %}
                                <i class="fas fa-exclamation-triangle"></i>
                            {% elif message.tags == 'warning' %}
                                <i class="fas fa-exclamation-circle"></i>
                            {% else %}
                                <i class="fas fa-info-circle"></i>
                            {% endif %}
                        </div>
                        <div class="gl-alert__content">
                            <span class="gl-alert__text">{{ message }}</span>
                        </div>
                        <button class="gl-alert__close js-dismiss-alert" type="button">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}