{% extends 'shared/layout.html' %}
{% load poll_extras %}
{% load render_partial %}
{% load thumbnail %}
{% block title %}
    Product List
{% endblock %}
{% block content %}
    <div class="app-content">
        {% include 'messages.html' %}
        {% if products %}
            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <div class="shop-p">
                                <div class="shop-p__toolbar u-s-m-b-30">
                                    {% if has_filter %}
                                        <div class="shop-p__meta-wrap u-s-m-b-60" id="related_product">

                                            <span class="shop-p__meta-text-1">FOUND {{ page_obj.paginator.count }} RESULTS</span>
                                            <div class="shop-p__meta-text-2">

                                                {% if related_products %}
                                                	<span>Related Searches:</span>
                                                {% endif %}

                                                {% for related_product in related_products %}
                                                    <a class="gl-tag btn--e-brand-shadow"
                                                       href="{% url 'product-brand-list-view' brand=related_product %}">{{ related_product.title }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="shop-p__tool-style">
                                        <div class="tool-style__group u-s-m-b-8">

                                            <span class="js-shop-grid-target">Grid</span>

                                            <span class="js-shop-list-target is-active">List</span></div>
                                        <form method="get" action="" name="sort">
                                            <div class="tool-style__form-wrap">
                                                <div class="u-s-m-b-8">
                                                    <select
                                                            class="select-box select-box--transparent-b-2"
                                                            id="sort_product"
                                                            name="sort"
                                                            onchange="this.form.submit()">
                                                        <option value="Newest"
                                                                {% if sort == 'Newest' %}selected{% endif %}>
                                                            Sort By: Newest Items
                                                        </option>
                                                        <option value="Latest"
                                                                {% if sort == 'Latest' %}selected{% endif %}>
                                                            Sort By: Latest Items
                                                        </option>
                                                        <option value="Visit"
                                                                {% if sort == 'Visit' %}selected{% endif %}>
                                                            Sort By: Most Visit
                                                        </option>
                                                        <option value="Rating"
                                                                {% if sort == 'Rating' %}selected{% endif %}>
                                                            Sort By: Best Rating
                                                        </option>
                                                        <option value="Lowest_p"
                                                                {% if sort == 'Lowest_p' %}selected{% endif %}>
                                                            Sort By: Lowest Price
                                                        </option>
                                                        <option value="Highest_p"
                                                                {% if sort == 'Highest_p' %}selected{% endif %}>
                                                            Sort By: Highest Price
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="shop-p__collection" id="products_list">
                                    {% include 'product_module/includes/product_sort_partial.html' %}
                                </div>
                                <div class="u-s-p-y-60">

                                    <!--====== Pagination ======-->
                                    {% if is_paginated %}
                                        <ul class="shop-p__pagination">
                                            {% if page_obj.has_previous %}
                                                <li>

                                                    <a class="fas fa-angle-left"
                                                       href="?{% query_transform request page=page_obj.previous_page_number %}"></a>
                                                </li>
                                            {% endif %}
                                            {% for page in paginator.page_range %}
                                                <li class="{% if page_obj.number == page %}is-active{% endif %} ">

                                                    <a href="?{% query_transform request page=page %}">{{ page }}</a>
                                                </li>
                                            {% endfor %}


                                            {% if page_obj.has_next %}
                                                <li>

                                                    <a class="fas fa-angle-right"
                                                       href="?{% query_transform request page=page_obj.next_page_number %}"></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                    <!--====== End - Pagination ======-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="shop-w-master">
                                <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>

                                    <span>FILTERS</span></h1>
                                <div class="shop-w-master__sidebar sidebar--bg-snow">
                                    {% render_partial "product_module.views.product_categories_component" %}

                                    <div class="u-s-m-b-30">
                                        <div class="shop-w">
                                            <div class="shop-w__intro-wrap">
                                                <h1 class="shop-w__h">PRICE</h1>

                                                <span class="fas fa-minus shop-w__toggle" data-target="#s-price"
                                                      data-toggle="collapse"></span>
                                            </div>
                                            <div class="shop-w__wrap collapse show" id="s-price">
                                                <form class="shop-w__form-p" method="get" action="">
                                                    <div class="shop-w__form-p-wrap">
                                                        <div>

                                                            <label for="price-min"></label>

                                                            <input class="input-text input-text--primary-style"
                                                                   type="text"
                                                                   id="price-min" placeholder="Min"
                                                                   value="{{ request.GET.price_min }}" name="price_min">
                                                        </div>
                                                        <div>

                                                            <label for="price-max"></label>

                                                            <input class="input-text input-text--primary-style"
                                                                   type="text"
                                                                   id="price-max" placeholder="Max" name="price_max"
                                                                   value="{{ request.GET.price_max }}"></div>
                                                        <div>

                                                            <button class="btn btn--icon fas fa-angle-right btn--e-transparent-platinum-b-2"
                                                                    type="submit"></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% render_partial "product_module.views.product_brands_component" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        {% else %}
            <div class="alert alert-warning">
                <p>Nothing</p>
            </div>
        {% endif %}

    </div>

    <!--====== End - App Content ======-->
{% endblock %}